node_modules
dist

# Сжатые файлы
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.bz2
*.xz
*.tgz
*.tbz2
*.z

# Временные файлы
*.tmp
*.temp
*.swp

# Генерируемые файлы
*.out
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
tmp

# MacOS
.DS_Store